<h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>12
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>
  <p><strong>Reviews:</strong></p>
  <% @restaurant.reviews.each do |r| %>
  <p><%= r.content %> | <%= r.rating %> stars</p>
  <% end %>
<%= link_to "Add a new review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
<%= link_to "Back to all restaurants", restaurants_path, class: "btn btn-primary" %>
